apiVersion: v1
kind: Service
metadata:
  name: {{ include "yay-tsa.fullname" . }}
  labels:
    {{- include "yay-tsa.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "yay-tsa.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
